# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# Uploads
backend/uploads/

# Node
node_modules/

# Vite
dist/

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/